/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Disable horizontal scrolling */
}

/* Create a container for the parallax effect */
.parallax-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* Style the background image */
.parallax-background {
    background-image: url('/about_back.jpeg'); /* Replace with your background image */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Style the content with fixed positioning */
.parallax-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}
